.social-icons li a {
  color: #fff !important;
}

.social-icons:not(.social-icons-opacity-light):not(
    .social-icons-transparent
  ):not(.social-icons-clean):not(.social-icons-clean-with-border):not(
    .social-icons-dark
  ):not(.social-icons-dark-2):not(.custom-social-icons)
  li
  a {
  background-color: #fff0 !important;
}

.img-rd {
  border-radius: 2rem;
}
