
<footer id="footer" class="border-0 mt-0">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-4 mb-5 mb-md-0">
                <div
                    class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
                    <div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
                        <!-- <img width="40" src="assets/icon-location.svg" alt="" data-icon color=" #fff !important;"
                            data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light position-relative bottom-3'}" class="address"/> -->
                            <i class="fa fa-thumbtack text-9 text-color-light position-relative top-4 mb-2"></i> 
                    </div>
                    <div class="feature-box-info line-height-1 ps-2">
                        <span class="d-block font-weight-bold text-color-light text-5 mb-2">Address</span>
                        <p class="text-color-white text-4 line-height-4  text-decoration-none">6 Eseefoo
                            Street, Asylum Down, Accra,Ghana.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <div
                    class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
                    <div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
                        <i class="fa fa-phone text-9 text-color-light position-relative top-4 mb-2"></i>
                    </div>
                    <div class="feature-box-info line-height-1 ps-2">
                        <span class="d-block font-weight-bold text-color-light text-5 pb-1 mb-1">Call Us
                            Now</span>
                        <a href="tel:+233(0)302 254340"
                            class="text-color-light text-4 line-height-7 text-decoration-none">+233(0)302
                            254340</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div
                    class="feature-box flex-column flex-xl-row align-items-center align-items-lg-start text-center text-lg-start">
                    <div class="feature-box-icon bg-transparent mb-4 mb-xl-0 p-0">
                        <i class="fa fa-envelope text-9 text-color-light position-relative top-4 mb-2"></i>
                    </div>
                    <div class="feature-box-info line-height-1 ps-xl-3">
                        <span class="d-block font-weight-bold text-color-light text-5 pb-1 mb-1">Email Us
                            Now</span>
                        <a href="mailto:info@bsystemslimited.com"
                            class="text-color-light text-4 line-height-7 text-decoration-none">info@bsystemslimited.com</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-light opacity-2 my-0">
    <div class="container pb-5">
        <div class="row text-center text-md-start my-5">
            <div
                class="col-md-6 col-lg-3 align-self-center text-center text-md-start text-lg-center mb-5 mb-lg-0">
                <a href="index.html" class="text-decoration-none">
                    <img src="assets/bsystems-logo-04.png" class="img-fluid" alt=""
                        width="120px" />
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">About Us</h5>
                <ul class="list list-unstyled">
                    <li class="pb-1 mb-2">
                        <span
                            class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">ADDRESS</span>
                        <a href="#."
                            class="text-color-light custom-text-underline-1 font-weight-medium text-3-5">GET
                            DIRECTIONS</a>
                    </li>
                    <li class="pb-1 mb-2">
                        <span
                            class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5 mb-1">PHONE</span>
                        <ul class="list list-unstyled font-weight-light text-3-5 mb-0">
                            <li class="text-color-light line-height-3 mb-0">
                                Sales: <a href="tel:233(0)302 254340"
                                    class="text-decoration-none text-color-light text-color-hover-default">233(0)302
                                    254340</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pb-1 mb-2">
                        <span
                            class="d-block font-weight-semibold line-height-1 text-color-grey text-3-5">EMAIL</span>
                        <a href="mailto:info@bsystemslimited.com"
                            class="text-decoration-none font-weight-light text-3-5 text-color-light text-color-hover-default"><span
                                class="__cf_email__"
                                data-cfemail="fc919d9590bc99849d918c9099d29f9391">info@bsystemslimited.com</span></a>
                    </li>
                </ul>
                <div class="col ml-2">
                    <ul class="social-icons social-icons-medium row">
                        <li class="social-icons-instagram ml-4">
                            <a href="http://www.instagram.com/" class="no-footer-css" target="_blank"
                                title="Instagram"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="social-icons-twitter ml-4">
                            <a href="http://www.twitter.com/" class="no-footer-css" target="_blank"
                                title="Twitter"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-icons-facebook ml-4">
                            <a href="http://www.facebook.com/" class="no-footer-css" target="_blank"
                                title="Facebook"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mb-5 mb-md-0">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">How it works
                </h5>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-0"><a href="#.">How PAPSS Works</a></li>
                    <li class="mb-0"><a href="#.">PAPSS Services</a></li>
                    <li class="mb-0"><a href="#.">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 offset-lg-1">
                <h5 class="text-transform-none font-weight-bold text-color-light text-4-5 mb-4">Get Connected
                </h5>
                <ul class="list list-unstyled list-inline custom-list-style-1 mb-0">
                    <li class="mb-0"><a href="#.">For Bsystems Participants</a></li>
                    <li class="mb-0"><a href="#.">For African Governments</a></li>
                    <li class="mb-0"><a href="#.">For Customers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-light">
        <div class="container py-2">
            <div class="row">
                <div class="col">
                    <p class="text-center text-3 mb-0">Bsystems Limited © 2023. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
