<div class="body">
<header id="header"
			data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 54, 'stickySetTop': '-54px', 'stickyChangeLogo': false}">
			<div class="header-body header-body-bottom-border-fixed box-shadow-none border-top-0">
				<div class="header-top header-top-small-minheight header-top-simple-border-bottom">
					<div class="container py-2">
						<div class="header-row justify-content-between">
							<div class="header-column col-auto px-0">
								<div class="header-row">
									<div class="header-nav-top">
										<ul class="nav nav-pills position-relative">
											<li class="nav-item d-none d-sm-block">
												<span
													class="d-flex align-items-center font-weight-medium ws-nowrap text-3 ps-0"><a
														href="https://www.okler.net/cdn-cgi/l/email-protection#87f7e8f5f3e8c7e3e8eae6eee9a9e4e8ea"
														class="text-decoration-none text-color-white text-color-hover-primary"><i
															class="icons icon-envelope font-weight-bold position-relative text-4 top-3 me-1"></i>
														<span class="__cf_email__"
															data-cfemail="02726d70766d42666d6f636b6c2c616d6f"><i class="fa fa-envelope fa-3X"></i>info@bsystemslimited.com</span></a></span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end col-auto px-0 d-none d-md-flex">
								<div class="header-row">
									<nav class="header-nav-top">
										<ul
											class="header-social-icons social-icons social-icons-clean social-icons-icon-wwhite social-icons-medium custom-social-icons-divider row ">
											<li class="social-icons-facebook marg">
												<a href="http://www.facebook.com/" target="_blank" title="Facebook"><i
														class="fab fa-facebook-f"></i></a>
											</li>
											<li class="social-icons-twitter marg">
												<a href="http://www.twitter.com/" target="_blank" title="Twitter"><i
														class="fab fa-twitter"></i></a>
											</li>
											<li class="social-icons-linkedin marg">
												<a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i
														class="fab fa-linkedin-in"></i></a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="header-container container">
					<div class="header-row">
						<div class="header-column w-100">
							<div class="header-row justify-content-between">
								<div class="header-logo z-index-2 col-lg-2 px-0">
									<a href="index.html">
										<img alt="Bsystemslimited" width="123" height="48" data-sticky-width="82"
											data-sticky-height="40" data-sticky-top="84"
											src="assets/logo.png">
									</a>
								</div>
								<div class="header-nav header-nav-links justify-content-end pe-lg-4 me-lg-3">
									<div
										class="header-nav-main header-nav-main-arrows header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1">
										<nav class="collapse">
											<ul class="nav nav-pills" id="mainNav">
												<li><a href="index.html" class="nav-link active">Home</a>
												</li>
												<li><a href="#." class="nav-link">About</a></li>
												<li class="dropdown">
													<a href="#." class="nav-link dropdown">Search For a
														Product <i class="fa fa-chevron-down ml-1"></i></a>
													<ul class="dropdown-menu">
														<li><a [routerLink]="['../category']">Search By
																Category</a>
														</li>
														<li><a [routerLink]="['../country']">Search By
																Country</a>
														</li>
														<li><a [routerLink]="['../directory']">Search Entire
																Directory</a>
														</li>
														<li><a [routerLink]="['../demo']">Demo
																Search
																Results</a>
														</li>
													</ul>
												</li>
												<li><a href="search3.html" class="nav-link">All
														Suppliers</a>
												</li>
												<li><a href="#." class="nav-link">Contact</a></li>
											</ul>
										</nav>
									</div>
								</div>
								<ul class="header-extra-info custom-left-border-1 d-none d-xl-block">
									<li class="d-none d-sm-inline-flex ms-0">
										<div class="header-extra-info-icon">
											<i
												class="fa fa-phone text-color-dark position-relative top-3"></i>
										</div>
										<div class="header-extra-info-text line-height-2">
											<span class="text-1 font-weight-semibold text-color-default">CALL US
												NOW</span>
											<strong class="text-4"><a href="tel:+1234567890"
													class="text-color-hover-primary text-decoration-none">+233(0)302
													254340</a></strong>
										</div>
									</li>
								</ul>
								<button class="btn header-btn-collapse-nav ms-4" data-bs-toggle="collapse"
									data-bs-target=".header-nav-main nav" aria-expanded="false">
									<i class="fas fa-bars"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
              
			</div>
		</header>
	</div>

       